@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

$background: #2a2a2a;
$foreground: #1c1c1e;
$font: 'Lekton';
$text: #e7e3ed;
$yellow: #fee602;

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

html, body {
    background-color: $background;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

* {
    font-family: $font;
    animation: fadeIn .25s linear;
}

header {
    background-color: $foreground;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    #header-left {
        padding-left: 25px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        img {
            width: 55px;
            border-radius: 7px;
            margin-top: -5px;
        }
        #title {
            padding-left: 10px;
            font-family: $font;
            font-weight: 700;
            color: $text;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                margin-left: 8px;
                padding-left: 8px;
                border-left: .25px solid $text;
                height: 25px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 75%;
                font-weight: 100 !important;
                font-size: 20px;
            }
        }
    }
    #header-right {
        padding-right: 25px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex: 1 1 auto;
        button {
            background-color: $background;
            border: 2px solid $background;
            margin-left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            border-radius: 5px;
            font-size: 15px;
            color: $text;
            cursor: pointer;
            transition: .5s;
            &:hover {
                opacity: 75%;
            }
        }
    }
}

#home-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #home-page-title {
        color: $text;
        text-align: center;
        font-family: $font;
        h1 {
            font-size: 55px;
        }
        p {
            font-weight: 100;
            margin-top: -50px;
            opacity: 60%;
        }
    }
}

.option {
    background-color: $foreground;
    color: $text;
    width: 500px;
    border-radius: 7px;
    margin: 15px;
    cursor: pointer;
    transition: .5s;
    &:hover {
        opacity: 75%;
    }
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    img {
        height: 50%;
        border-radius: 2.5px;
        margin-left: 15px;
    }
    h3 {
        width: 100%;
        margin-right: 15px;
        text-align: center;
    }
}

#practice-play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $yellow;
    height: calc(100vh - 100px);
    #practice-play-title {
        color: $text;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

#player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    #stratagem-queue {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
        img {
            height: 48px;
            width: 48px;
            padding: 5px;
        }
        .current {
            height: 48px;
            width: 48px;
            border-radius: 2.5px;
            border: 2.5px solid $yellow;
        }
    }
    #current-stratagem-name {
        background-color: $yellow;
        color: $background;
        padding: 0 10px 0 10px;
        font-size: 23px;
        width: 100%;
        text-align: center;
    }
    #current-code {
        display: flex;
        flex-direction: row;
        margin-top: -20px;
        --animate-duration: 1s;
        .current-code-arrow {
            color: $text;
            font-size: 25px;
            padding: 5px;
        }
    }
}

#how-to-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #how-to-page-title {
        color: $text;
        text-align: center;
        font-family: $font;
        h1 {
            font-size: 55px;
        }
        p {
            font-weight: 100;
            margin-top: -50px;
            opacity: 60%;
        }
    }
    section {
        color: $text;
        text-align: center;
        border-top: thin solid $text;
        width: 500px;
        h2 {
            font-weight: 700;
        }
        p {
            margin-top: -27px;
            a {
                color: $text;
                &:visited {
                    color: $yellow
                }
            }
        }
    }
    .option {
        cursor: pointer
    }
}

#mobile-error {
    color: $text;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}